<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
		<servlet-name>c1</servlet-name>
		<servlet-class>cookie1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>c1s1</servlet-name>
		<url-pattern>/cookie1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>c2</servlet-name>
		<servlet-class>cookie2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>c2</servlet-name>
		<url-pattern>/cookie1</url-pattern>
	</servlet-mapping>

</web-app>  