<web-app>  
  
<servlet>  
<servlet-name>s1</servlet-name>  
<servlet-class>Servlet</servlet-class>  
</servlet>  

<servlet>  
    <servlet-name>Admin</servlet-name>  
    <servlet-class>Admin</servlet-class>  
  </servlet>
   <servlet-mapping>  
    <servlet-name>Admin</servlet-name>  
    <url-pattern>/servlet1</url-pattern>  
  </servlet-mapping>    
  
<servlet-mapping>  
<servlet-name>s1</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>  
  
<filter>  
<filter-name>f1</filter-name>  
<filter-class>MyFilter</filter-class>  
</filter>  
   
<filter-mapping>  
<filter-name>f1</filter-name>  
<url-pattern>/servlet1</url-pattern>  
</filter-mapping>  
  
  
</web-app>